.sizeContainer {
  width: 100%; /* Full width */

  /* Enable scroll if needed */
}
.signupContainer {
  margin: 30px;
}
.form-input {
  padding: 10px;
  padding-left: 20px;
  margin: 15px 0px;
}
label {
  font-weight: 600;
  font-size: 130%;
}
button {
  background-color: var(--header-footer-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-right: 40px;
  cursor: pointer;
  max-width: 40%;
  opacity: 0.9;
}
::placeholder {
  /* Edge */
  letter-spacing: 1.9px;
  font-weight: 600;
}
