:root {
  --header-footer-color: rgb(0, 54, 54);
  --article-color1: rgb(1, 131, 131);
  --article-color2: rgb(82, 136, 136);
  --White-text: white;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.white {
  color: var(--White-text);
}
.col {
  flex-direction: column;
}
.margin-50 {
  margin: 50px;
}
.margin-5 {
  margin: 5px;
}
label {
  margin: 10px 0;
}
.alignCenter {
  text-align: center;
}
.TextField {
  border: 1px black solid;
}
.smaller {
  max-width: 400px;
  max-height: 400px;
}
.text-black {
  color: black;
}
.col {
  flex-direction: column;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* 
var(--header-footer-color);
var(--article-color1);
var( --article-color2);
var(--White-text);

 */
