.articleContainer {
  min-height: 300px;
  padding: 20px;
  background-color: var(--article-color2);
  color: var(--White-text);
}
.articleContainer2 {
  min-height: 300px;
  padding: 30px;
  background-color: var(--article-color1);
  color: var(--White-text);
}
.articleContainer3 {
  min-height: 300px;
  padding: 30px;
  background-color: var(--White-text);
  color: black;
}
.articleTitle {
  font-size: 250%;
  font-weight: bolder;
}
.listItems {
  padding: 10px;
  font-weight: 900;
}

.listItemsDescription {
  padding: 10px;
  font-weight: 900;
  text-align: center;
}
li {
  font-size: 120%;
}
a {
  font-size: 120%;
}
.img {
  max-width: 40px;
}
.sideimg {
  max-width: 100%;
  max-height: 400px;
}
.dot {
  height: 25px;
  width: 25px;
  padding-left: 7.5px;
  padding-top: 3px;
  margin: 3px 10px;
  background-color: var(--White-text);
  border-radius: 50%;
  display: inline-block;
  color: black;
  font-weight: 900;
}
.spaceBetween {
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
}
.underText {
  margin-left: 55px;
}
.row {
  flex-wrap: wrap;
}
.fifty {
  max-width: 40%;
}
.center {
  justify-content: center;
}
ul {
  padding: 0px;
  list-style-type: none;
}
.buttonStart {
  background-color: var(--header-footer-color);
  border-radius: 15px;
  padding: 5px 15px;
  color: white;
  border: none;
  margin-left: 18px;
  margin-top: 20px;
}
.datePicker {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .spaceBetween {
    justify-content: space-evenly;
  }
  .largeCenter {
    margin: 0 25%;
  }
  .center {
    justify-content: center;
  }
  .margin-5 {
    justify-content: center;
  }
  .borderbox {
    margin: 0 30%;
  }
  .signupContainer {
    margin: 0 30%;
  }
}
@media only screen and (min-width: 600px) {
  .spaceBetween {
    justify-content: c;
  }
}
@media only screen and (min-width: 400px) {
  .spaceBetween {
    justify-content: space-evenly;
  }
}
