.articleContainer {
  min-height: 300px;
  padding: 20px;
  background-color: var(--article-color2);
  color: var(--White-text);
}
.articleContainer2 {
  min-height: 300px;
  padding: 30px;
  background-color: var(--article-color1);
  color: var(--White-text);
}
.articleContainer3 {
  min-height: 300px;
  padding: 30px;
  background-color: var(--White-text);
  color: black;
}
.articleTitle {
  font-size: 250%;
  font-weight: bolder;
}
.listItems {
  padding: 10px;
  font-weight: 900;
}

.listItemsDescription {
  padding: 10px;
  font-weight: 900;
  text-align: center;
}
li {
  font-size: 120%;
}
a {
  font-size: 120%;
}
.img {
  max-width: 40px;
}
.dot {
  height: 25px;
  width: 25px;
  padding-left: 7.5px;
  padding-top: 3px;
  margin: 3px 10px;
  background-color: var(--White-text);
  border-radius: 50%;
  display: inline-block;
  color: black;
  font-weight: 900;
}
.underText {
  margin-left: 55px;
}
ul {
  padding: 0px;
  list-style-type: none;
}
.buttonStart {
  background-color: var(--header-footer-color);
  border-radius: 15px;
  padding: 5px 15px;
  color: white;
  border: none;
  margin-left: 18px;
  margin-top: 20px;
}
